@import "../../../../css/variables";

.d-header
{
    height: 65px;  
    box-shadow: 0 2px 4px 0 rgba(242, 242, 242, 0.5);
    display: flex;
    align-items: center;
    padding-right: 30px;
    background: $white-color;
    &__menu 
    {
        display: block;
        cursor: pointer;
        span 
        {
            width: 42px;
            height: 42px;
            display: block;
            background: $profile-color;
            border-radius: 50%;
            line-height: 42px;
            text-align: center;
            position: relative;
            margin-right: 20px;
            font-size: $font-size-large;
            font-weight: 600;
            color:$white-color;
            &:before 
            {
                content:"";
                position: absolute;
                right:-20px;
                width:10px;
                height: 6px;
                background: url(../../../../assets/icon-arrowdown.svg) no-repeat;
                background-size: contain;
                top:50%;
                transform: translateY(-50%);
            }
        }
    }
}