/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "_reset.scss";                      // Import Reset
@import "_variables.scss";                  // Import Variables 
@import "_icons.scss";                      // Import Icons 




body 
{
    font-family: $font-family-sec;
    font-size: $font-size;
    font-weight: 400;
    background: $primary-color;
}
.d-spacer 
{
    flex-grow: 1;
}
a,a:hover 
{
    text-decoration: none;
}
.d-heading
{
    position: relative;
    h1 
    {
        font-size: 26px;
        color:$heading-color-primary;
        font-weight:600;
    }
    .d-cycle
    {
        position: absolute;
        right:0;
        top:0;
        width:210px;
    }
}
.d-cycle
{
    display: flex;
    align-items: center;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    &__select 
    {
        position: absolute;
        right: 0;
        span 
        {
            position: absolute;
            border:solid 1px $border-color-1;
            width:118px;
            padding:0 10px;
            right:0;
            background: $white-color url(../assets/icon-arrowdown-1.svg) no-repeat 90% center;
            box-shadow: 0 2px 4px 0 #e9effd;
        }
        select 
        {
            opacity: 0;
            width:140px;
            line-height: 37px;
            height: 37px;
        }
    }
}

.d-marginTop 
{
    margin-top: 15px;
}
.d-marginBottom
{
    margin-bottom: 25px;
}


.d-assets 
{
    display: flex;
    justify-content: space-between;
    &__section 
    {
        background: $white-color;
        border-radius: $border-radius;
        padding: 20px 15px;
        flex:1;
        margin-right: 30px;
        display: flex;
        align-items: center;
        box-shadow: $box-shadow;
        &:last-child 
        {
            margin-right: 0;
        }
    }
    &__block 
    {
        padding-left: 60px;
        padding-right: 10px;
        position: relative;
        flex:1;
        border-right:solid thin $primary-color;
        span 
        {
            position: absolute;
            width:40px;
            height: 40px;
            border-radius:50%;
            left:10px;
            top:50%;
            transform: translateY(-50%);
            &:before 
            {
                width:40px;
                height: 40px;
                left:0;
                top:0;
            }
        }
        &:last-child 
        {
            border-right:none;
        }
    }
    &__details 
    {
        h3 
        {
            font-size: 22px;
            font-weight:bold;
            color:$heading-color-secondary;
            padding-bottom: 8px;
        }
        p 
        {
            color:$primary-text-color;
            font-size: $font-size-small;
            line-height: 16px;
        }
    }
}


.d-chart 
{
    display: flex;
    &__section 
    {
        flex:1;
        margin-right: 30px;
        background: $white-color;
        border-radius: 10px;
        padding:15px 20px;
        box-shadow: $box-shadow;
        &:last-child 
        {
            margin-right: 0;
        }
    }
    &__heading 
    {
        font-size: $font-size-extraLarge;
        font-weight: 600;
        color:$secondary-color;
        padding-bottom: 10px;
        border-bottom: solid thin $border-color-2;
    }
    &__block
    {
        margin-top: 20px;
        display: flex;
        > div 
        {
            flex:1;
        }
    }
    &__content
    {
        table
        {
            width:100%;
            tr 
            {
                th,td 
                {
                    text-align: left;
                }
                th 
                {
                    color:$grey-color;
                    font-size: $font-size-extraLarge;
                    font-weight: 600;
                    padding-bottom: 20px;
                }
                td 
                {
                    color:$grey-color-light;
                    font-size: $font-size-small + 1;
                    padding:5px 0;
                    span 
                    {
                        width:9px;
                        height: 9px;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


.d-tabs
{
    &__list 
    {
        position: relative;
        &:after 
        {
            content:"";
            position: absolute;
            left:0;
            right:0;
            height: 2px;
            bottom: 0;
            background: $table-border-color;
            z-index: -1;
        }
        ul 
        {
            li 
            {
                display: inline-block;
                a 
                {
                    font-size: $font-size;
                    padding:10px 0 20px;
                    border-bottom:solid 4px transparent;
                    color:$tab-color;
                    text-decoration: none;
                    display: block;
                    margin-right: 30px;
                    font-weight: 600;
                    transition: all ease-in 0.2s;
                    &.active 
                    {
                        color:$tab-color-active;
                        border-bottom-color: $tab-color-active;
                    }
                    &:hover 
                    {
                        color:$tab-color-active;
                    }
                }
                &:last-child
                {
                    a 
                    {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .d-search
    {
        position: absolute;
        right:0;
        top:-5px;
    }
    &__contenttable
    {
        border:solid thin $table-border-color;
        border-radius: 10px;
        table
        {
            width:100%;
            font-size:14px;
            background: $white-color;
            table-layout: fixed;
            tr 
            {
                border-bottom:solid thin $table-border-color;
                th,td 
                {
                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    word-break: break-word;
                    text-align: left;
                }
                th 
                {
                    background: $table-head-color;
                    height: 50px;
                    line-height: 20px;
                    vertical-align: middle;
                    font-weight: 600;
                    padding: 0 0;
                    color:$table-head-text-color;
                    text-transform: uppercase;
                    
                    &:first-child
                    {
                        padding-left: 30px;
                    }
                    &:last-child
                    {
                        padding-right: 30px;
                    }
                }
                td 
                {
                    color:$table-content-text-color;
                    table
                    {
                        tr 
                        {
                            border-bottom: none;
                            td 
                            {
                                padding: 15px 0;
                                &:first-child
                                {
                                    padding-left: 30px;
                                }
                                &:last-child
                                {
                                    padding-right: 30px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
.d-tableHead
{
    position: relative;
    z-index: 2;
    &.show 
    {
        &:before 
        {
            content:"";
            position: absolute;
            z-index: -1;
            top:0;
            bottom: 0;
            left:0;
            right:0;
            box-shadow: 0 0 10px 0 rgba(160, 160, 160, 0.5);
        }
    }
}
.d-search
{
    input[type="text"]
    {
        height: 40px;
        line-height: 40px;
        width:120px;
        padding: 0 10px;
        padding-left: 40px;
        display: block;
        font-size:$font-size-small;
        outline:none;
        border:solid thin  $table-border-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color:$input-color;
        background: $white-color url(../assets/icon-search.svg) no-repeat 15px center;
    }   
}

.d-button
{
    border:solid thin $tab-color-active;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color:$tab-color-active;
    font-weight: 600;
    text-align: center;
    max-width: 130px;
    display: block;
    transition: all ease-in 0.2s;
    &:hover 
    {
        background: $tab-color-active;
        color:$white-color;
    }
}


.d-info
{
    &__block 
    {
        background: $table-info-color;
        padding: 25px 15px;
        border:solid thin $table-info-border;
        border-radius: 5px;
        &:before 
        {
            opacity: 0;
        }
    }
}

.d-input
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__text
    {
        color:$table-head-text-color;
        font-size: $font-size;
        font-weight:600;
        margin-right: 10px;
        width: 140px;
        text-align: right;
    }
    &__block 
    {
        input[type="text"],input[type="number"]
        {
            height: 40px;
            line-height: 40px;
            background: $white-color;
            border: solid thin $table-info-input-border;
            display: block;
            padding: 0 10px;
            font-size: $font-size;
        }
    }
    &__select 
    {
        width:190px;
        position: relative;
        span 
        {
            height: 40px;
            line-height: 40px;
            border: solid thin $table-info-input-border;
            display: block;
            padding: 0 10px;
            background: $white-color url(../assets/icon-arrowdown.svg) 95% center no-repeat;
        }
        select 
        {
            position: absolute;
            width:100%;
            top:0;
            left:0;
            opacity: 0;
            height: 40px;
        }
    }
    &__button
    {
        margin-top: 10px;
        text-align: right;
        height: 35px;
        button 
        {
            display: inline-block;
            background: $tab-color-active;
            color:$white-color;
            cursor: pointer;
            outline: none;
            height: 34px;
            line-height: 34px;
            width:120px;
            position: relative;
            &:hover 
            {
                background: darken($tab-color-active,10%);
            }
            span 
            {
                display: block;
            }
        }
        
    }
    &.disabled 
    {
        input[type="text"],input[type="number"],.d-input__select span   
        {
            background-color: $table-info-input-disabled-bg;
            font-weight: normal;
            color:$table-info-input-disabled-color;
        }
        .d-input__text
        {
            color:$table-info-input-disabled-info;
        }
    }
}


.d-pagination
{
    display: flex;
    &__block 
    {
        .ngx-pagination 
        {
            li 
            {
                width:20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                padding: 0;
                vertical-align: middle;
                border-radius: 3px;
                margin: 0 2px;
                &.current
                {
                    background: $secondary-color;
                }
                a 
                {
                    padding: 0;
                    font-size: $font-size-small;
                }
                &.pagination-next,&.pagination-previous
                {
                    &:before,&:after 
                    {
                        margin: 0;
                    }
                    a 
                    {
                        &:before,&:after 
                        {
                            margin: 0;
                        } 
                    }
                }
            }
        }
    }
}
.spinner {
    width: 20px;
    height: 20px;
    position: absolute;
    top:50%;
    left:0;
    right:0;
    margin: auto;
    transform: translateY(-50%);
    z-index: 99;
    opacity: 0;
    &.show 
    {
        opacity: 1;
    }
  }
  
  .spinner > div {
    background-color: $white-color;
    height: 100%;
    width: 3px;
    margin: 0 1px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }